body {
  margin: 0;
}

.home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/blog.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/blog.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.header__logo {
  height: 130px;
  width: auto;
}

.header__navClosed {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  height: 32px;
  margin-top: 30px;
  cursor: pointer;
}

.header__register, .header__login, .header__aboutme {
  color: white;
  font-size: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin-top: 40px;
}

.header__exit-icon {
  fill: white;
}

.header button {
  outline: none;
  border: none;
  background: none;
  height: 32px;
  margin-top: 30px;
}

.main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 30%;
}

@media screen and (min-width: 1080px) {
  .main {
    width: 80%;
  }
}

.main__header {
  margin: 70px 0 0 0;
  color: white;
  font-weight: 100;
  font-family: 'Arial';
  font-size: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2%;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .main__header {
    width: 80%;
  }
}

@media screen and (min-width: 1080px) {
  .main__header {
    font-size: 70px;
  }
}

.main__header-description {
  margin: 0;
  font-size: 25px;
  color: white;
  padding: 2%;
  font-weight: 100;
  font-family: 'Arial';
}

@media screen and (min-width: 1080px) {
  .main__header-description {
    font-size: 30px;
  }
}

#nav-cover-icon {
  height: 120px;
}

#nav-cover-icon .top {
  fill: white;
}

#nav-cover-icon .middle {
  fill: white;
}

#nav-cover-icon .bottom {
  fill: white;
}

.header__logo {
  height: 150px;
}

.header__logo .knife, .header__logo .fork, .header__logo .knife-handle {
  fill: white;
}

.entry {
  position: fixed;
  width: 350px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entry__logo {
  height: 150px;
  padding: 3%;
}

.entry__logo .knife, .entry__logo .fork, .entry__logo .knife-handle {
  fill: white;
}

.entryheader {
  padding: 20px;
}

.entryheader__login-btn {
  border: none;
  outline: none;
  background: none;
  color: blue;
}

.entryheader__header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1080px) {
  .login {
    width: 350px;
  }
}

.login__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5%;
}

.login__password {
  border: none;
  border-bottom: 1px solid #afafaf;
  outline: none;
  font-size: 15px;
}

.login__email {
  border: none;
  border-bottom: 1px solid #afafaf;
  outline: none;
  margin: 60px 0;
  font-size: 15px;
}

.login__alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5%;
}

@media screen and (min-width: 1080px) {
  .signup {
    width: 350px;
  }
}

.signup__email, .signup__e-confirm, .signup__password, .signup__pass-confirm {
  border: none;
  border-bottom: 1px solid #afafaf;
  outline: none;
  margin: 20px 0;
  font-size: 15px;
}

.signup__email {
  margin-top: 60px;
}

.signup__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5%;
}

.signup__submits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5%;
}

.signup__pass-confirm {
  margin-bottom: 0;
}

@media screen and (min-width: 1080px) {
  .login, .signup {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1080px) {
  .entryheader__header {
    margin-bottom: 50px;
  }
}

.form__submit-btn {
  border: none;
  outline: none;
  background: none;
  margin: 50px 5% 19px 5%;
  background: #3899ec;
  color: white;
  font-size: 16px;
  font-weight: 100;
  height: 42px;
  width: 90%;
  border-radius: 20px;
}

.social-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-signup__facebook, .social-signup__google {
  width: 15px;
  height: 15px;
  margin: 20px;
}

.social-signup__container {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid navy;
  border-radius: 50%;
  margin: 0 5px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10%;
}

.agreement__content {
  font-size: 12px;
  color: lightgrey;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .agreement__content {
    position: absolute;
    bottom: 20%;
    right: 0;
    left: 0;
  }
}

.dualEntry__form {
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dualEntry__split {
  margin-top: 50px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.aboutme {
  height: 100vh;
  background-image: url(../images/profile-back.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme h2 {
  margin: 0;
}

.aboutme__logo {
  margin: 0;
  height: 200px;
}

.aboutme h1 {
  margin-top: 0;
}

.profile {
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/profile-back.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/profile-back.jpg);
  min-height: 100vh;
  background-attachment: fixed;
}

.profile__header {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.profile__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .profile__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .profile__private, .profile__public, .profile__home {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-top: 3px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .profile__private:hover, .profile__public:hover, .profile__home:hover {
    border-bottom: 3px solid #e67e22;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .profile__private:focus, .profile__public:focus, .profile__home:focus {
    border-bottom: 3px solid #e67e22;
  }
}

.profile__create, .profile__private, .profile__public, .profile__home {
  outline: none;
  background: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .profile__create, .profile__private, .profile__public, .profile__home {
    padding: 10px 0;
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .profile__create {
    width: 120px;
    border: 1px solid #e67e22;
    border-radius: 30px;
    background-color: #e67e22;
  }
}

@media screen and (min-width: 768px) {
  .profile__header {
    padding: 0 3%;
  }
}

.card {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: 1px solid #e67e22;
  -webkit-box-shadow: 0 0 10px #e67e22;
          box-shadow: 0 0 10px #e67e22;
  border-radius: 15px;
  height: 350px;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 300px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .card__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
}

.card__name, .card__author {
  color: white;
  margin: 0;
  padding: 10px 0;
}

.card__name {
  text-transform: capitalize;
}

.card__author {
  margin-top: 150px;
}

.card__description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5%;
}

button {
  outline: none;
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .createdposts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .magnify {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow-y: scroll;
    background-color: white;
  }
}

.magnify__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(19, 24, 44, 0.7);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .magnify__receipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .magnify__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .magnify__ingredients {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .magnify__directions {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .magnify__img {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .magnify__img-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
  }
}

.magnify__exit {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.magnify__exit-icon {
  fill: white;
}

@media screen and (min-width: 768px) {
  .add__whole {
    height: 50px;
    margin-right: 10px;
  }
}

.add__plus {
  fill: grey;
}

.add__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__input {
  outline: none;
  border: none;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 100px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .image__uploaded {
    height: 500px;
    width: auto;
  }
}

.create {
  background-size: cover;
  background-image: url(../images/receipeboard.jpg);
  min-height: 100vh;
  background-attachment: fixed;
}

.createform {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 15%;
}

@media screen and (min-width: 768px) {
  .createform__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
  }
}

.createform__private {
  color: grey;
}

.createform__public {
  color: green;
}

@media screen and (min-width: 768px) {
  .createform__public, .createform__private {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .createform__submission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.createform__submit {
  border: 1px solid #e67e22;
  width: 150px;
  border-radius: 30px;
  font-size: 20px;
  outline: none;
  background-color: #e67e22;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .createform__upload {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .createform__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .createform__about {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .createform__ingredients {
    width: 90%;
    height: auto;
    padding-bottom: 60px;
    border-bottom: 1px solid grey;
  }
}

@media screen and (min-width: 768px) {
  .createform__directions {
    width: 90%;
    height: auto;
    padding-bottom: 60px;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
  }
}

.createform__receipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createform__receipe h2 {
  margin: 0 10px 0 0;
}

#receipe {
  width: 70%;
  outline: none;
  border: none;
  padding-left: 10px;
  padding-bottom: 30px;
}

.description-text {
  margin: 0;
  padding-right: 10px;
}

#description {
  width: 83%;
  height: 20%;
  outline: none;
}

#uploadedPhoto {
  color: transparent;
}

#receipe-description {
  width: 100%;
}

#ingredient {
  width: 50%;
}

#instruction {
  width: 100%;
  height: 50px;
}

#receipe-title {
  width: 50%;
}
/*# sourceMappingURL=Main.css.map */