.dashboard {
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    &__log-out,
    &__my-posts,
    &__home {
        border-bottom: 3px solid rgba(#000000, 0%);
        border-top: 3px solid rgba(#000000, 0%);
        transition: border 0.2s;
        text-decoration: none;
    }
    &__log-out:hover,
    &__my-posts:hover,
    &__home:hover {
        border-bottom: 3px solid #e67e22;
        transition: border 0.2s;
        text-decoration: none;
    }
    &__log-out:focus,
    &__my-posts:focus,
    &__home:focus {
        border-bottom: 3px solid #e67e22;
    }
    &__create,
    &__log-out,
    &__my-posts,
    &__home {
        outline: none;
        background: none;
        color: white;
        padding: 10px 0;
        font-size: 20px;
        box-sizing: border-box;
    }
    &__create {
        width: 120px;
        border: 1px solid #e67e22;
        border-radius: 30px;
        background-color: #e67e22;
    }
}
