.dashboard {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/profile-back.jpg);
    min-height: 100vh;
    background-attachment: fixed;
}

.created-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}