button {
    outline: none;
    background: none;
    border: none;
}

.dashboard {
    &__header {
        background-color: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        margin-bottom:  1%;
    }
}