.post {
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background-size: cover;
    display: flex;
    border: 1px solid #e67e22;
    box-shadow: 0 0 10px #e67e22;
    border-radius: 15px;
    height: 350px;
    width: 300px;
    margin: 0;
    &__container {
        box-sizing: border-box;
        padding: 10px;
    }
    &__name,
    &__author {
        color: white;
        margin: 0;
        padding: 10px 0;
    }
    &__name {
        text-transform: capitalize;
    }
    &__author {
        margin-top: 150px;
    }
    &__description {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 5%;
    }
}