.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    &__logo {
        height: 150px;
        width: auto;
        .knife, .fork, .knife-handle {
            fill: white;
        }
    }
    &__nav-btn {
        background: none;
        padding: 0;
        border: none;
        outline: none;
        height: 32px;
        margin-top: 30px;
        cursor: pointer;
    }
}

#nav-cover-icon {
    height: 120px;
    .top {
        fill: white;
    }
    .middle {
        fill: white;
    }
    .bottom{
        fill: white;
    }
}