body {
    margin: 0;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/blog.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 3%;
}