.nav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 40px;
    &__register, &__login, &__about-me, &__recipes {
        color: white;
        font-size: 20px;
        margin-bottom: 50px;
    }
    &__exit-icon {
        fill: white;
    }
    &__close {
        outline: none;
        border: none;
        background: none;
        height: 32px;
    }
}
