.modal {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow-y: scroll;
    background-color: white;
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #13182c, $alpha: 0.7);
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background-size: cover;
    }
    &__recipe {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    &__description {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    &__ingredients {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    &__instructions {
        padding-bottom: 20px;
        padding-left: 20px;
    }
    &__img {
        height: 500px;    
    }
    &__img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: black;
        position: relative;
    }
    &__exit {
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
    }
    &__exit-icon {
        fill: white;
    }
}