.entry {
    position: fixed;
    width: 350px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;  
    &__logo {
        height: 150px;
        padding: 3%;
        .knife, .fork, .knife-handle {
            fill: white;
        }
    }
    &__form {
        position: fixed;
        justify-content: center;
        top: 20%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }
}