.image__uploaded {
    height: 500px;
    width: auto;
}

.create-form {
    background-size: cover;
    background-image: url(../assets/images/recipeboard.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 5% 15%;
    &__switch {
        display: flex;
        align-items: center;
        padding-right: 50px;
    }
    &__submission {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
    }
    &__submit {
        border: 1px solid #e67e22;
        width: 150px;
        border-radius: 30px;
        font-size: 20px;
        outline: none;
        background-color: #e67e22;
        color: #fff;
    }
    &__upload {
        margin-bottom: 50px;
    }
    &__description {
            display: flex;
    }
    &__about {
        margin-bottom: 60px;
    }
    &__ingredients {
        width: 90%;
        height: auto;
        padding-bottom: 60px;
        border-bottom: 1px solid grey;
    }
    &__instructions {
        width: 90%;
        height: auto;
        padding-bottom: 60px;
        border-bottom: 1px solid grey;
        margin-bottom: 100px;
    }
    &__recipe {
        display: flex;
        & h2 {
            margin: 0 10px 0 0;
        }
    }
    &__description-text {
        margin: 0;
        padding-right: 10px;
    }
}

#uploaded-photo {
    color: transparent;
}

#recipe-description {
    width: 100%;
}

#recipe-title {
    width: 50%;
}