.groundworks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/architect.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 3%;
    width: 100%;
    height: 100%;
    &__image {
        height: 500px;
        width: 500px; 
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 0 30px #e67e22;
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__sub-container {
        margin: 20px 20px;
        list-style: none;

    }
    &__header {
        color: white;
        text-align: center;
        font-size: 4rem;
        margin: 0;
    }
    &__heading {
        color: white;
        text-align: center;
    }
    &__code-image-container {
        width: 900px;
        height: 700px;
        overflow-x: hidden;
        list-style: none;
        background-color: black;
        padding: 0;
    }
    &__code {
        list-style: none;
    }
    &__code-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(19, 24, 44, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background-size: cover;
        display: flex;
        justify-content: center;
        padding: 20vh 0;
    }
    &__code-snippet-header {
        color: white;
        margin-bottom: 0;
        margin-left: 15px; 
        font-size: 30px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
::-webkit-scrollbar-track {
border: 1px solid #e67e22;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #e67e22;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #e67e22;  
}